.landingPage {
    text-align: center;
    color: white;
    vertical-align: center;
    margin-top: 15%;
    text-shadow: 5px 5px 8px black;
    
}

.landingPage1 {
    text-align: center;
    color: white;
    vertical-align: center;
    margin-top: 3%;
    text-shadow: 5px 5px 8px black;
    
}